[submodule "vim/.vim/pack/plugins/start/vim-qf"]
	path = vim/.vim/pack/plugins/start/vim-qf
	url = git@github.com:romainl/vim-qf.git
[submodule "vim/.vim/pack/plugins/start/vim-cool"]
	path = vim/.vim/pack/plugins/start/vim-cool
	url = git@github.com:romainl/vim-cool.git
[submodule "vim/.vim/pack/plugins/start/vim-tinyMRU"]
	path = vim/.vim/pack/plugins/start/vim-tinyMRU
	url = git@github.com:romainl/vim-tinyMRU.git
[submodule "vim/.vim/pack/plugins/start/vim-abolish"]
	path = vim/.vim/pack/plugins/start/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "vim/.vim/pack/plugins/start/vim-commentary"]
	path = vim/.vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/pack/plugins/start/vim-obsession"]
	path = vim/.vim/pack/plugins/start/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "vim/.vim/pack/plugins/start/vim-surround"]
	path = vim/.vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/pack/plugins/start/vim-vinegar"]
	path = vim/.vim/pack/plugins/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "vim/.vim/pack/plugins/start/vim-dirvish"]
	path = vim/.vim/pack/plugins/start/vim-dirvish
	url = git@github.com:justinmk/vim-dirvish.git
[submodule "vim/.vim/pack/plugins/start/vim-closer"]
	path = vim/.vim/pack/plugins/start/vim-closer
	url = git@github.com:rstacruz/vim-closer.git
[submodule "vim/.vim/pack/plugins/opt/wal"]
	path = vim/.vim/pack/plugins/opt/wal
	url = git@github.com:dylanaraps/wal.git
[submodule "vim/.vim/pack/plugins/start/vim-matchup"]
	path = vim/.vim/pack/plugins/start/vim-matchup
	url = git@github.com:andymass/vim-matchup.git
[submodule "vim/.vim/pack/plugins/start/vim-vue"]
	path = vim/.vim/pack/plugins/start/vim-vue
	url = git@github.com:posva/vim-vue.git
