!*dpi: 192
Xft.dpi: 192
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.rgba: rgb
URxvt.font: xft:bitstream vera sans mono:size=8:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=8:antialias=true
!URxvt.font: xft:bitstream vera sans mono:size=12:antialias=true
!URxvt.boldFont: xft:bitstream vera sans mono:bold:size=12:antialias=true
URxvt.letterSpace: -1
URxvt.depth: 32
URxvt.geometry: 80x30
URxvt.internalBorder: 3
URxvt.scrollBar: false
URxvt.scrollBar_right: true
URxvt.iso14755: False
URxvt.clipboard.copycmd:xsel -ob
URxvt.perl-ext-common: resize-font
rofi.dpi: 192
